*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  gap: 1rem;
  text-align: center;
}

ul :hover{
  cursor: pointer;
  color:#E50914;
}

@media screen and (min-width: 768px) {
  .movies-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }
  .movie-plot{
    margin: 0.5rem 4rem;
  }
  .movie-details-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
  }
  .movie-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}